<!-- Header -->
  							<header id="header">
  								<div class="inner">
  								
  									<!-- Logo -->
  										<a href="index.html" id="logo header"><div class="logo"></div></a>
  									
  									<!-- Nav -->
  										<nav id="nav">
  											<ul>
  												<li><a href="index.html">Home</a></li>
  												<li>
  													<span>About</span>
  													<ul>
 														<li><a href="press.html">Press</a></li>	
  														<li><a href="collaborations.html">Collaborations</a></li>	
                              <li><a href="https://github.com/CuriosityHacked/Learning/wiki">Our Learning Wiki</a></li>
  													</ul>
  												</li>	
  										                         <li><a href="oakland/">Oakland Lab</a></li>
  											</ul>
  										</nav>
  								
  								</div>
  							</header>
  
