<!-- Header -->
  							<header id="header">
  								<div class="inner">

  									<!-- Logo -->
                                        <a href="index.html" id="logo header"><div class="logo"></div></a>
  									<!-- Nav -->
  										<nav id="nav">
                                            <h1>Hacking the way children and families learn</h1>
  											<ul>
  												<li><a href="index.html">Home</a></li>
                                                <li>
                                                    <a href="oakland.html">Oakland Lab</a>
                                                    <ul>
                                                        <li><a href="oaklans/guild.html">Guilds / Sparks</a></li>
                                                        <li><a href="oakland/openlab.html">Open Lab</a></li>
                                                        <li><a href="oakland/CHILL.html">C.H.I.L.L.</a></li>
                                                        <li><a href="oakland/spring.html">Current Classes</a></li>
                                                        <li><a href="oakland/summer2016.html">Summer Camps</a></li>
                                                        <li><a href="oak_guild.html">Birthday Parties</a></li>
                                                    </ul>
                                                </li>
  												<li>
  													<span>Programs</span>
  													<ul>
  														<li><a href="guild.html">Guild</a></li>
  														<li><a href="openlab.html">Open Lab</a></li>
  														<li><a href="sparks.html">Sparks</a></li>
  													</ul>
  												</li>
                                                <li>
  													<span>About</span>
  													<ul>
  														<li><a href="about.html">About Us / FAQ</a></li>
  														<li><a href="staff.html">Staff</a></li>
  														<li><a href="press.html">Press</a></li>
  													</ul>
  												</li>
  											</ul>
  										</nav>

  								</div>
  							</header>
