<!-- Header -->
  							<header id="header">
  								<div class="inner">
  								
  									<!-- Logo -->
  										<a href="index.html" id="logo header"><div class="logo"></div></a>
  									
  									<!-- Nav -->
  										<nav id="nav">
  											<ul>
  												<li><a href="index.html">Home</a></li>
  												<li>
  													<span>About</span>
  													<ul>
  														<li><a href="about.html">About Us / FAQ</a></li>
  														<li><a href="staff.html">Staff</a></li>
  														<li><a href="press.html">Press</a></li>	
  														<li><a href="collaborations.html">Collaborations</a></li>	
                              <li><a href="https://learning.curiosityhacked.org">Our Learning Wiki</a></li>
  													</ul>
  												</li>	
  												<!-- <li><a href="locations.html">Locations</a></li> -->
  												<li>
  													<span>Oakland Programs</span>
  													<ul>
                              <li><a href="oakland/CHILL.html">CHILL</a></li>
  														<li><a href="guild.html">Guild / Sparks</a></li>
  														<li><a href="openlab.html">Open Lab</a></li>
  														<li><a href="birthday.html">Birthday Parties</a></li>	
  														<li><a href="classes.html">Classes</a></li>	
  													</ul>
  												</li>
                          <li><a href="oakland/">Oakland Lab</a></li>
  												<li><a href="join.html">Contact Us</a></li>
  											</ul>
  										</nav>
  								
  								</div>
  							</header>
  
